.idea/
Zhiyin-Client/log
Zhiyin-Client/client_activation.spec
Zhiyin-Client/client_boot.spec
Zhiyin-Client/client_main.spec
Zhiyin-Client/client_text.spec
Zhiyin-Client/__pycache__/
Zhiyin-Client/build/
Zhiyin-Client/dist/
Zhiyin-Client/programs/lnk/
Zhiyin-Client/programs/plist
Zhiyin-Server/log
Zhiyin-Server/__pycache__/
Zhiyin-Desktop/node_modules/
Zhiyin-Desktop/out/
Zhiyin-Desktop/dist/
Zhiyin-Desktop/bin/
Zhiyin-Desktop/programs/lnk/
Zhiyin-Desktop/programs/plist
Zhiyin-Desktop/log
