.container {
    position: relative;
    margin-top: 140px;
    height: 48px;
    width: 150px;
    border-radius: 24px 0px 24px 0px;
    box-shadow: 2px 2px 6px #666666;
    overflow: hidden;

    --s: 360px;
    /* control the size */
    --c1: #fafafa;
    --c2: #fafafa;
    --c3: #ececec;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}

#title {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%) scale(0.035);
}

.checkbox {
    top: 52%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox__label {
    padding: 5px;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.checkbox__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(#f0f0f0, #e0e0e0) padding-box,
        linear-gradient(145deg, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 16px 0 0 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.checkbox__input:checked+.checkbox__label .checkbox__custom {
    background-image: linear-gradient(145deg, #e81cff, #40c9ff);
    transform: rotate(45deg) scale(0.8);
    border-radius: 0;
}

.checkbox__label:hover .checkbox__custom {
    transform: scale(1.2);
}

.wrapper {
    -webkit-app-region: no-drag;
    --width: 40px;
    --height: 40px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    top: 130px;
    left: 139px;
    position: absolute;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .btn {
    opacity: 0.8;
    background-image: linear-gradient(145deg, #e81cff, #7153e1, #40c9ff);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 3;
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    box-shadow: 2px 2px 6px #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: plus-animation-reverse 0.5s ease-out forwards;
    animation: plus-animation-reverse 0.5s ease-out forwards;
}

.wrapper .btn::before,
.wrapper .btn::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fafafa;
}

.wrapper .btn::before {
    width: 4px;
    height: 20px;
}

.wrapper .btn::after {
    width: 20px;
    height: 4px;
}

.wrapper .tooltip {
    width: 60px;
    height: 40px;
    top: -40px;
    left: -78px;
    border-radius: 20px 0px 20px 0px;
    position: absolute;
    background: #fafafa;
    z-index: -1;
    padding: 0 15px;
    box-shadow: 2px 2px 6px #666666;
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}

.wrapper input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.wrapper input:checked~.btn {
    -webkit-animation: plus-animation 0.5s ease-out forwards;
    animation: plus-animation 0.5s ease-out forwards;
}

.wrapper input:checked~.tooltip {
    width: 60px;
    height: 40px;
    top: -40px;
    left: -78px;
    -webkit-animation: stretch-animation 1s ease-out forwards 0.15s;
    animation: stretch-animation 1s ease-out forwards 0.15s;
    opacity: 1;
}

.wrapper .tooltip .close {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 20px;
    left: 67.5px;
    background: none;
    border: none;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 17px;
}

.wrapper .tooltip .close img {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.1, 0.1);
}

.wrapper .tooltip .setting {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 20px;
    left: 22.5px;
    background: none;
    border: none;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 17px;
}

.wrapper .tooltip .setting img {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.1, 0.1);
}

@-webkit-keyframes pang-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes pang-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@-webkit-keyframes plus-animation {
    0% {
        transform: rotate(0) scale(1);
    }

    20% {
        transform: rotate(60deg) scale(0.93);
    }

    55% {
        transform: rotate(35deg) scale(0.97);
    }

    80% {
        transform: rotate(48deg) scale(0.94);
    }

    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes plus-animation {
    0% {
        transform: rotate(0) scale(1);
    }

    20% {
        transform: rotate(60deg) scale(0.93);
    }

    55% {
        transform: rotate(35deg) scale(0.97);
    }

    80% {
        transform: rotate(48deg) scale(0.94);
    }

    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@-webkit-keyframes plus-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }

    20% {
        transform: rotate(-15deg);
    }

    55% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes plus-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }

    20% {
        transform: rotate(-15deg);
    }

    55% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

@-webkit-keyframes stretch-animation {
    0% {
        transform: scale(1, 1);
    }

    10% {
        transform: scale(1.1, 0.9);
    }

    30% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.05, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes stretch-animation {
    0% {
        transform: scale(1, 1);
    }

    10% {
        transform: scale(1.1, 0.9);
    }

    30% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.05, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}