#userboard {
    position: absolute;
    margin-left: 55px;
    width: 370px;
    height: 480px;
    box-shadow: 30px 0 30px -30px #9d9d9d;
    /* opacity: 0.9; */
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


#userboard>.shape {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
}

#userboard>#shape1 {
    top: 60%;
    left: 10%;
    width: 130px;
    height: 130px;
    background-image: linear-gradient(145deg, #e81cff, #7153e1, #40c9ff);
    opacity: 0.3;
}

#userboard>#shape2 {
    top: 57%;
    left: 72.5%;
    width: 50px;
    height: 50px;
    background: #40c9ff;
    opacity: 0.3;
}

#userboard>#shape3 {
    top: 22.5%;
    left: 78.5%;
    width: 200px;
    height: 200px;
    background: #e0e0e0;
    opacity: 0.4;
}

#userboard>#shape4 {
    top: 79.5%;
    left: 51%;
    width: 200px;
    height: 200px;
    background: #e0e0e0;
    opacity: 0.4;
}


.welcome {
    position: absolute;
    left: 50%;
    top: 33%;
    opacity: 0.7;
    width: 200px;
    height: 100px;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
    color: #7153e1;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

#userboard>#title {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.12);
}

#begin {
    -webkit-app-region: no-drag;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 17px;
    height: 55px;
    width: 150px;
    border-radius: 0 50px 0 50px;
    border: none;
    background-color: #ffffff;
    color: #a0a0a0;
    cursor: pointer;
    transition: all 0.3s ease;
}

#begin:hover {
    background: linear-gradient(90deg, #40c9ff, #7153e1, #e81cff);
    color: #ffffff;
}

#letsbegin {
    -webkit-app-region: no-drag;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 150px;
    position: relative;
    padding: 1px;
    background: linear-gradient(90deg, #40c9ff, #7153e1, #e81cff);
    border-radius: 0 50px 0 50px;
    transition: all 0.3s ease;
}

#letsbegin::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 50px 0 50px;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.3s ease;
    background: linear-gradient(90deg, #40c9ff, #7153e1, #e81cff);
    filter: blur(20px);
}

#letsbegin:active::before {
    filter: blur(5px);
}

#version {
    position: absolute;
    width: 250px;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #a0a0a0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}